.App {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.red {
  color: red;
}

.App button {
  background-color: white;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  cursor: pointer;
}

.App button:hover{
  background-color: lightgreen;
}

.App button.Red{
  background-color: red;
}

.App button.Red:hover{
  background-color: salmon;
}